<p>
  This is about page.
  <br>
  The url param is {{paramId}}
  <br>
  <strong class="backBtn" (click)="sendMeBack()">Take me back</strong>
</p>
<p>Your bucket list : </p>
<ul>
  <li *ngFor="let goal of goals; let i = index" > {{goal}} </li>
</ul>
