/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

body {
  background: #2e9ce6;
  padding: 3rem;
  font-family: 'Raleway', 'Arial';
  color: white;
}

ul {
  list-style: none;
  margin: 0 0 2rem 0;
  padding: 0;
  li {
    display: inline-block;
    margin-left: 30px;
    a {
      font-size: 1.5rem;
    }
  }
}
a {
  color: white;
  text-decoration: none;
}