.container {
  display: grid;
  grid-template-columns: 50% auto;
}
.col {
  padding: .4rem 1.3rem;
}
.color-dark {
  background: #2885c4;
}
.color-light {
  background: #57b3f1;
}

.txt {
  border: none;
  padding: 1rem;
  width: 80%;
  margin-bottom: 2rem;
}
.btn {
  border: none;
  display: block;
  padding: 1rem 3rem;
  background: #a5f883;
  color: #003a61;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1rem;
}
.life-container {
  background: #3fa0e1;
  padding: .5rem;
  font-weight: bold;
  cursor: pointer;
  .sm {
    font-weight: normal;
    float: right;
  }
}
.sm {
  font-size: .8rem;
}